@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #212529; /* Black Track */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(70deg, black, white);
  border-radius: 10px;
  transition: background 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(256deg, black, white);
  box-shadow: 0 0 10px rgba(224, 198, 198, 0.8); /* Red Glow */
}
/* Optional: Smooth Scrolling */
html {
  scroll-behavior: smooth;
}
/*PRELOADER CSS*/
#preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide scrollbar in IE & Edge */
}

#preloader::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.preloader-hidden {
  opacity: 0;
  visibility: hidden;
}
.hole {
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;

  border-radius: 140px;
  opacity: 0;
  animation-name: scale;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

i:nth-child(1) {
  animation-delay: 0.3s;
}

i:nth-child(2) {
  animation-delay: 0.6s;
}

i:nth-child(3) {
  animation-delay: 0.9s;
}

i:nth-child(4) {
  animation-delay: 1.2s;
}

i:nth-child(5) {
  animation-delay: 1.5s;
}

i:nth-child(6) {
  animation-delay: 1.8s;
}

i:nth-child(7) {
  animation-delay: 2.1s;
}

i:nth-child(8) {
  animation-delay: 2.4s;
}

i:nth-child(9) {
  animation-delay: 2.7s;
}

i:nth-child(10) {
  animation-delay: 3s;
}

@keyframes scale {
  0% {
    transform: scale(2);
    opacity: 0;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5);
  }
  50% {
    transform: scale(1) translate(0px, -5px);
    opacity: 1;
    box-shadow: 0px 8px 20px rgba(255, 255, 255, 0.5);
  }
  100% {
    transform: scale(0.1) translate(0px, 5px);
    opacity: 0;
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0);
  }
}
/*PRELOADER END*/

/* NAVBAR CSS */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
nav.navbar {
    background: #000;
    font-size: 25px;
}
a.navbar-brand {
  font-size: 35px;
  margin-left: 1rem;
  font-weight: bold;
}
ul.navbar-nav {
    gap: 10px;
    margin-right: 0.5rem;
}
a.nav-link.active {
    color: #ff3cac !important;
}
.nav-link:hover{
    color: #ff3cac !important; 
}
/* TOGGLE */ 
#checkbox {
  display: none;
}
label.toggle {
    display: none;
}
.toggle {
  position: relative;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: rgb(176, 92, 255);
  border-radius: 4px;
}

#bar2 {
  transition-duration: .8s;
}

#bar1,#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}
/* TOGGLE END */ 
@media (max-width:750px){
    a.navbar-brand {
        font-size: 18px;
        margin-left: 0rem;
    }
    label.toggle {
        display: flex;
    }
}
p {
  color: rgba(255, 255, 255, 0.8);
}
/* NAVBAR CSS END */

/* HOME CSS */
section.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #262626;
  min-height: 100vh;
  overflow: hidden;
}
img.homebg {
  width: 90%;
  height: 85%;
  margin-top: 4rem;
  margin-left: 8rem;
  position: relative; /* Add this */
  z-index: 2; /* Higher than .circles */
}
.home-header h1 {
  color: #fff;
  font-size: 4rem;
}
.home-content {
  color: #fff;
}

/* ANIMATED BACKGROUND */

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Push circles to the background */
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}


@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
@media (max-width:750px){
  img.homebg {
    margin-top: 2rem;
    margin-left: 1rem;
  }
  .home-header h1 {
    font-size: 4rem;
  }
  h1.team-header {
    font-size: 3rem;
  }
}
/* HOME CSS END */

/* TEAM CSS */
section.team {
  position: relative;
  display: flex;
  justify-content: center;
  background: #000000;
  color: #fff;
  align-items: center;
  min-height: 90vh;
  overflow: hidden;
}
h1.team-header {
  font-size: 3.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}
h1.team-header::after {
  content: "";
  display: block;
  width: 90px;
  height: 4px;
  background: #ff3cac ;
  margin: 10px auto;
}
h1.team-id {
  font-size: 3rem;
  font-weight: 400;
  margin-left: -0.5rem;
  letter-spacing: 1px;
}


.mam-name, .priya-name, .shanmuga-name {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
}

img.rounded.mam-img {
  width: 88%;
  height: 88%;
}
.priya-img {
  width: 85%;
  height: 80%;
}

.shanmuga-img {
  width: 66%;
  height: 60%;
  margin-left: 7rem;
  margin-top: 3rem;
}
.mam-col {
  margin-bottom: 1rem;
}
.shanmuga-col {
    margin-bottom: -8rem;
}
.carousel-control-prev {
  left: -10rem;
  transition: left 0.3s ease-in-out;
}
.carousel-control-next {
  right: -10rem;
}
@media (max-width:750px){
  h1.team-header {
    font-size: 3rem;
  }
  .shanmuga-img {
    margin-left: 3.5rem;
    margin-top: 2rem;
  }
  img.rounded.mam-img {
    margin-left: 1.2rem;
  }
  .priya-img {
    margin-left: 1.4rem;
  }
  h1.team-id {
    font-size: 2rem;
    margin-left: 0rem;
  }
  h1.tools-header {
    font-size: 2.5rem !important;
  }
  .face.front b {
    font-size: 3em !important;
  }
}

/* TEAM CSS End */
/* TOOLS CSS */
section.tools {
  position: relative;
  display: flex;
  justify-content: center;
  background: #262626;;
  color: #fff;
  align-items: center;
  min-height: 90vh;
  overflow: hidden;
}
h1.tools-header {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
h1.tools-header::after {
  content: "";
  display: block;
  width: 90px;
  height: 4px;
  background: #ff3cac ;
  margin: 10px auto;
}
.card {
  position: relative;
  height: 300px;
  margin: 0 auto;
  background: #000;
  border-radius: 15px;
  margin-bottom: 4rem;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}

.face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face.back {
  box-sizing: border-box;
  padding: 20px;
}

.face.back b {
  margin: 0;
  padding: 0;
}

.face.back .desc {
  background-color: #eee;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.face.front {
  transition: 0.5s;
}
.face.front b {
  margin: 0;
  padding: 0;
  font-size: 3em;
  color: #ff3cac;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.card:hover .face.front {
  height: 60px;
}
.card:hover .face.front b {
  font-size: 2em;
}
.face.front {
  background-color: #fff ;
  border-radius: 15px;
}
@media (max-with:750px){
  
}


